body {
    display: flex;
    justify-content: center;
    margin: 100px;
    background-color: rgb(218, 245, 245);
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    max-width: 260px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    margin: 20px;
    padding: 0 5px;
    border: 1px solid black;
    border-radius: 2px;
    width: 200px;
    height: 60px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

/* non functional buttons */
#parentheses, #percent {
    background-color: black;
}